<div class="min-h-screen flex flex-col">
  <!-- Contenido de la pestaña activa -->
  <div class="flex-1 overflow-auto pb-16">
    <router-outlet></router-outlet>
  </div>

  <!-- Barra inferior fija -->
  <div class="fixed bottom-0 left-0 right-0 border-t border-neutral-300 bg-white">
    <div class="max-w-md mx-auto flex justify-around py-3">
      <label>
        <span class="cursor-pointer" [routerLink]="['/app/feed']" routerLinkActive="font-bold">🏠</span>
      </label>
      <label>
        <span class="cursor-pointer" [routerLink]="['/app/search']" routerLinkActive="font-bold">🔎</span>
      </label>
      <label>
        <span class="cursor-pointer" [routerLink]="['/app/profile']" routerLinkActive="font-bold">👤</span>
      </label>
    </div>
  </div>
</div>
